<body>
    <h1>Hello {{ name }}!</h1>
    <p>GitHub Username: {{ name }}</p>
    <p>Age:{{ age }}</p>
    <h2> Repositories: </h2>
    <ul>
        {% for repo in repos %}
            <li>
                <strong><a href="{{repo['html_url'] }}" target="_blank">{{ repo['full_name'] }}</a ></strong><br>
                Last Updated: {{ repo['updated_at'] }}<br>
                Description: {{ repo['description'] or "No description available." }}
                {% if repo.commit %}
                        <p><strong>Latest Commit:</strong></p >
                        <ul>
                            <li>Commit Hash: {{ repo.commit.hash }}</li>
                            <li>Author: {{ repo.commit.author }}</li>
                            <li>Date: {{ repo.commit.date }}</li>
                            <li>Message: {{ repo.commit.message }}</li>
                        </ul>
                    {% else %}
                        <p>No commit information available.</p >
                    {% endif %}
            </li>
            <hr>
        {% endfor %}
    </ul>
</body>



