<body>
    <h1>Hello {{ name }}!</h1>
    <p>GitHub Username: {{ name }}</p>
    <p>Age: {{ age }}</p>
    <h2>Repositories:</h2>
    <ul>
        {% for repo in repos %}
            <li>
                <strong><a href="{{ repo['html_url'] }}" target="_blank">{{ repo['full_name'] }}</a></strong><br>
                Last Updated: {{ repo['updated_at'] }}<br>
                Description: {{ repo['description'] or "No description available." }}

                <p><strong>Latest Commit:</strong></p>
                {% if repo['commit'] %}
                    Author: {{ repo['commit']['author'] }}<br>
                    Date: {{ repo['commit']['date'] }}<br>
                    Message: {{ repo['commit']['message'] }}
                {% else %}
                    No commit information available.
                {% endif %}

                <p><strong>Top 5 Contributors:</strong></p>
                {% if repo['contributors'] %}

                        {% for contributor in repo['contributors'] %}
                           <li>Contributor Name: {{ contributor['login'] }}<br></li>
                            Number of Contributions: {{ contributor['contributions'] }}<br>
                        {% endfor %}
                {% else %}
                    No contributors information available.
                {% endif %}
            </li>
            <hr>
        {% endfor %}
    </ul>
</body>

