<body>
    <h1>Hello {{ name }}!</h1>
    <p>GitHub Username: {{ name }}</p>
    <p>Age:{{ age }}</p>
    <h2> Repositories: </h2>
    <ul>
        {% for repo in repos %}
            <li>
                <strong><a href="{{repo['html_url'] }}" target="_blank">{{ repo['full_name'] }}</a ></strong><br>
                Last Updated: {{ repo['updated_at'] }}<br>
                Description: {{ repo['description'] or "No description available." }}
            </li>
            <hr>
        {% endfor %}
    </ul>

</body>