@import url(https://db.onlinewebfonts.com/c/0afd9950147f0ac4143c63ee4f61bf91?family=Bumbbled);

@font-face {
    font-family: 'Bumbbled';
    src: url('../fonts/Bumbbled.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background: linear-gradient(to right, #9281f8, #3ddef3);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

nav {
    font-family: Arial, sans-serif;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    /*up down formattings*/
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*height: 100vh;*/
    /*text-align: center;*/
    /*margin: 200px 0 0;*/

    /*!*left right formattings*!*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*height: 100vh;*/
    /*text-align: center;*/
    margin: 80px 0 0 0;
    padding: 0 20px;
    overflow:visible;
    text-shadow: 5px 5px 10px rgba(110, 110, 110, 0.15);
}

.line{
    font-size: 70px;
    /*letter-spacing: 5px;*/
    /*line-height: 1;*/
    /*align-items: center;*/
    color: #FFFFFF;
    font-family: 'Bumbbled', Arial, sans-serif;

}

h1 {
    /*color: #FFFFFF;*/
    margin: 0;
    font-family: 'Bumbbled', Arial, sans-serif;
}

#hello {

}

#again {
    opacity: 0;                     /* Initial state hidden for animation */
    transform: translateY(20px);
    animation: fadeIn 1.5s forwards;
    animation-delay: 0.5s;
}

.char {
    display: inline-block;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

form {
    background-color: white;
    padding: 37px;
    margin-left: 30px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(110, 110, 110, 0.15);
    max-width: 300px;
    opacity: 0.9;
}

label {
    display: block;
    margin: 20px 0 5px;
}

input[type="text"], input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
}

input[type="submit"] {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px;
    cursor: pointer;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #b172a5;
}